body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #2b2e4a;
  color: #e84545;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #903749;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  margin-bottom: 1rem;
}

a {
  color: black;
  text-decoration: overline;
}

.fragenOutput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
