body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #2b2e4a;
  color: #e84545;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #903749;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  margin-bottom: 1rem;
}

button:hover {
  background-color: gray;
  scale: 1.2;
}

a {
  color: black;
  text-decoration: none;
}

.fragenOutput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outputDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  margin-bottom: 1rem;
  background-color: #903749;
  font-weight: 500;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  width: 300px;
}

#blackButton {
  background-color: black;
}

#blackButton a {
  color: white;
}

.question {
  margin-bottom: 1rem;
  font-weight: bold;
}
